# bitsandbytes
datasets
deepspeed
# deepspeed>=0.14.0
einops
isort
jsonlines
# loralib
ray[default]
torchmetrics
tqdm
transformers>=4.37.2
# transformers_stream_generator
wandb
accelerate
openai
wandb
# transformers==4.38.1
# mpi4py
# optimum
